@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./index.css";
@import "tailwindcss";

.light-background {
   --bg-color: #e6edf0;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

html,
body,
#root {
   height: 100%;
}

body {
   font-family: "Inter", "Poppins", sans-serif;
   background-color: var(--primary);
   color: var(--text);
   line-height: 1.6;
   --webkit-font-smoothing: antialiased;
}

.wrapper {
   /* min-height: 100%; */
   /* padding: auto 10%; */
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   /* padding: 1rem 1rem; */
}

.section {
   padding: 5rem 16%;
}

.icon {
   width: 48px;
   height: auto;
   object-fit: contain;
}

.subtitle {
   color: var(--muted);
}

.scroll-top {
   position: fixed;
   right: 30px;
   bottom: 30px;
   background: var(--logo);
   color: #fff;
   border: none;
   padding: 12px;
   cursor: pointer;
   transition: 0.3s;
}

.scroll-top:hover {
   background: #0077b6;
}

.page-title {
   color: var(--text2);
   background: var(--bg-color);
   padding: 1.5rem 16%;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.page-title h1 {
   font-size: 24px;
   font-weight: 700;
}

.page-title .breadcrumbs ol {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 14px;
   font-weight: 400;
}

.page-title .breadcrumbs ol li + li {
   padding-left: 12px;
}

.page-title .breadcrumbs ol li + li::before {
   content: "/";
   display: inline-block;
   padding-right: 12px;
   color: color-mix(in srgb, var(--text2), transparent 70%);
}

/* Fade-appear Animation */
@keyframes slideUp {
   0% {
      opacity: 0;
      transform: translateY(30px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.fade-up {
   animation: slideUp 1.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

/* Responsive Display */
@media (max-width: 1024px) {
   .feature .card {
      flex-direction: column;
   }
   .footer-top {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 720px) {
   .wrapper {
      height: 260px;
   }
   .footer-top {
      grid-template-columns: 1fr;
   }
}
